
<div *ngIf="tbc_sub_grupo">
    <h2><span jhiTranslate="limsApp.tbc_sub_grupo.detail.title">Tbc Sub Grupo</span> {{tbc_sub_grupo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="limsApp.tbc_sub_grupo.nome">Nome</span></dt>
        <dd>
            <span>{{tbc_sub_grupo.nome}}</span>
        </dd>
        <dt><span jhiTranslate="limsApp.tbc_sub_grupo.descricao">Descricao</span></dt>
        <dd>
            <span>{{tbc_sub_grupo.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="limsApp.tbc_sub_grupo.sigla">Sigla</span></dt>
        <dd>
            <span>{{tbc_sub_grupo.sigla}}</span>
        </dd>
        <dt><span jhiTranslate="limsApp.tbc_sub_grupo.removido">Removido</span></dt>
        <dd>
            <span>{{tbc_sub_grupo.removido}}</span>
        </dd>
        <dt><span jhiTranslate="limsApp.tbc_sub_grupo.tbc_instituicao">Tbc Instituicao</span></dt>
        <dd>
            <div *ngIf="tbc_sub_grupo.tbc_instituicao">
                <a [routerLink]="['/tbc-instituicao', tbc_sub_grupo.tbc_instituicao?.id]">{{tbc_sub_grupo.tbc_instituicao?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tbc-sub-grupo/'+ tbc_sub_grupo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
