
<div *ngIf="tbc_frases">
    <h2><span jhiTranslate="limsApp.tbc_frases.detail.title">Tbc Frases</span> {{tbc_frases.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="limsApp.tbc_frases.nome">Nome</span></dt>
        <dd>
            <span>{{tbc_frases.nome}}</span>
        </dd>
        <dt><span jhiTranslate="limsApp.tbc_frases.descricao">Descricao</span></dt>
        <dd>
            <span>{{tbc_frases.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="limsApp.tbc_frases.removido">Removido</span></dt>
        <dd>
            <span>{{tbc_frases.removido}}</span>
        </dd>
        <dt><span jhiTranslate="limsApp.tbc_frases.tbc_instituicao">Tbc Instituicao</span></dt>
        <dd>
            <div *ngIf="tbc_frases.tbc_instituicao">
                <a [routerLink]="['/tbc-instituicao', tbc_frases.tbc_instituicao?.id]">{{tbc_frases.tbc_instituicao?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="limsApp.tbc_frases.tbc_sub_grupo">Tbc Sub Grupo</span></dt>
        <dd>
            <div *ngIf="tbc_frases.tbc_sub_grupo">
                <a [routerLink]="['/tbc-sub-grupo', tbc_frases.tbc_sub_grupo?.id]">{{tbc_frases.tbc_sub_grupo?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tbc-frases/'+ tbc_frases.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
