

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myTbc_instituicaoLabel" jhiTranslate="limsApp.tbc_instituicao.home.createOrEditLabel">Create or edit a Tbc Instituicao</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tbc_instituicao.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tbc_instituicao.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_instituicao.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="tbc_instituicao.nome"
            required />
            <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_instituicao.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                [(ngModel)]="tbc_instituicao.descricao"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_instituicao.sigla" for="field_sigla">Sigla</label>
            <input type="text" class="form-control" name="sigla" id="field_sigla"
                [(ngModel)]="tbc_instituicao.sigla"
            required />
            <div [hidden]="!(editForm.controls.sigla?.dirty && editForm.controls.sigla?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sigla?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_instituicao.uf" for="field_uf">Uf</label>
            <input type="text" class="form-control" name="uf" id="field_uf"
                [(ngModel)]="tbc_instituicao.uf"
            required minlength="2" maxlength="2" />
            <div [hidden]="!(editForm.controls.uf?.dirty && editForm.controls.uf?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.uf?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.uf?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.uf?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_instituicao.endereco" for="field_endereco">Endereco</label>
            <input type="text" class="form-control" name="endereco" id="field_endereco"
                [(ngModel)]="tbc_instituicao.endereco"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_instituicao.telefone" for="field_telefone">Telefone</label>
            <input type="text" class="form-control" name="telefone" id="field_telefone"
                [(ngModel)]="tbc_instituicao.telefone"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_instituicao.removido" for="field_removido">Removido</label>
            <input type="checkbox" class="form-control" name="removido" id="field_removido"
                [(ngModel)]="tbc_instituicao.removido"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_instituicao.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="tbc_instituicao.email"
            required />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
