

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myTbc_relatorio_ensaioLabel" jhiTranslate="limsApp.tbc_relatorio_ensaio.home.createOrEditLabel">Create or edit a Tbc Relatorio Ensaio</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tbc_relatorio_ensaio.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tbc_relatorio_ensaio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_relatorio_ensaio.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="tbc_relatorio_ensaio.nome"
            required />
            <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_relatorio_ensaio.descricao" for="field_descricao">Descricao</label>
            <textarea class="form-control" name="descricao" id="field_descricao"
                [(ngModel)]="tbc_relatorio_ensaio.descricao"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_relatorio_ensaio.caminho" for="field_caminho">Caminho</label>
            <input type="text" class="form-control" name="caminho" id="field_caminho"
                [(ngModel)]="tbc_relatorio_ensaio.caminho"
            required />
            <div [hidden]="!(editForm.controls.caminho?.dirty && editForm.controls.caminho?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.caminho?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="limsApp.tbc_relatorio_ensaio.removido" for="field_removido">Removido</label>
            <input type="checkbox" class="form-control" name="removido" id="field_removido"
                [(ngModel)]="tbc_relatorio_ensaio.removido"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="limsApp.tbc_relatorio_ensaio.tbc_instituicao" for="field_tbc_instituicao">Tbc Instituicao</label>
            <select class="form-control" id="field_tbc_instituicao" name="tbc_instituicao" [(ngModel)]="tbc_relatorio_ensaio.tbc_instituicao" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tbc_instituicaoOption.id === tbc_relatorio_ensaio.tbc_instituicao?.id ? tbc_relatorio_ensaio.tbc_instituicao : tbc_instituicaoOption" *ngFor="let tbc_instituicaoOption of tbc_instituicaos; trackBy: trackTbc_instituicaoById">{{tbc_instituicaoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
